[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
openai = "*"
qdrant_client = "*"
tinydb = "*"
fastembed = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"
tqdm = "*"

[requires]
python_version = "3.10"
